<app-square-button [type]="'icon'" [icon]="'human'" (click)="friends = !friends" [opacity]="true"></app-square-button>
<div *ngIf="friends" class="friends">
  <div class="search">
    <input type="text" placeholder="Поиск">
  </div>
  <div class="friendsList">
    <div class="item">
      <div class="name">
        Prizmor
      </div>
      <div class="statusGreen"></div>
    </div>
  </div>
  <div class="addFriendsButton" (click)="addFriends = true">
    Добавить в друзья
  </div>
</div>
<app-add-friends *ngIf="addFriends"></app-add-friends>
