@import "../../assets/export";

.addText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: addText;
  animation-duration: 500ms;
  .window {
    width: 350px;
    height: 61px;
    background: $barsColor;
    border-radius: 10px;
    border-bottom: 1px solid $shadowColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      margin: 0 0 0 15px;
    }
    .textField {
      background: $textFieldColor;
      height: 25px;
      width: 110px;
      border: none;
      border-radius: 5px;
      color: $textColor;
      padding: 2px 5px;
    }
    .button {
      margin: 0 15px 0 0;
      height: 28px;
      width: 120px;
      padding: 0 18px;
      border: none;
      border-bottom: 1px solid $shadowColor;
      background: $buttonColor;
      color: $textColor;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        background: #2a2a2a;
      }
      &:active {
        font-size: 16px;
      }
    }
  }
}

@keyframes addText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
