<div class="app">
  <div [class.hidden]="router.url == '/start' || router.url == '/settings' || router.url == '/auth'" [class.flex]="router.url != '/start' && router.url != '/settings' && router.url != '/auth'" class="header">
    <div class="logo">
      <span>
        SK
      </span>
    </div>
    <div class="nameText">
      <span *ngIf="svc.activeTextData.name != ''">
        {{svc.activeTextData.name}}
      </span>
    </div>
  </div>
  <div [class.flex]="router.url != '/start' && router.url != '/settings' && router.url != '/auth'" class="leftBar-main">
    <div [class.hidden]="router.url == '/start' || router.url == '/settings' || router.url == '/auth'" [class.flex]="router.url != '/start' && router.url != '/settings' && router.url != '/auth'" *ngIf="svc.counter == 0" class="leftBar">
      <div class="top">
        <span *ngFor="let item of svc.items;"><app-square-button [onClick]="openText" [id]="item.id" [type]="'text'" [text]="item.name"></app-square-button></span>
        <app-square-button [onClick]="addTextClick" [type]="'icon'" [icon]="'plus'" [opacity]="false"></app-square-button>
      </div>
      <div class="bottom">
        <app-square-button [type]="'icon'" [icon]="'settings'" [onClick]="openSettings" [opacity]="true"></app-square-button>
      </div>
    </div>
    <div [class.width]="router.url != '/start' && router.url != '/settings' && router.url != '/auth'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

