@import "../assets/export";

.app {
  width: 100vw;
  height: 100vh;
  .header {
    animation-name: bars;
    animation-duration: 2s;
    width: 100%;
    height: 64px;
    background: $barsColor;
    justify-content: space-between;
    .logo {
      width: 64px;
      height: 64px;
      background: $logoColor;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 36px;
      }
    }
    .nameText {
      width: calc(100% - 64px);
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        animation-name: name;
        animation-duration: 500ms;
      }
    }
  }
  .leftBar-main {
    width: 100%;
    height: calc(100% - 64px) ;
    .leftBar {
      animation-name: bars;
      animation-duration: 2s;
      width: 64px;
      height: 100%;
      background: $barsColor;
      margin: 0;
      flex-direction: column;
      justify-content: space-between;
      .top {
        width: 64px;
        height: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .bottom {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.flex {
  display: flex;
}

.width {
  width: calc(100% - 64px);
  animation-name: bars;
  animation-duration: 2s;
}

.hidden {
  display: none;
}

@keyframes bars {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
