@import "../../assets/export";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.textPage {
  width: 100%;
  height: 100%;
  .title {
    font-size: 12px;
    line-height: 150%;
    height: 18px;
    display: flex;
    justify-content: center;
  }
  .time {
    padding-top: 182px;
    display: flex;
    justify-content: center;
    text-align: center;
    .timer {
      font-size: 36px;
      line-height: 150%;
      height: 50px;
      input {
        width: 100px;
        background: none;
        border: none;
        text-align: center;
        color: $textColor;
      }
    }
  }
  .textContainer {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    .textActive {
      width: 1500px;
      height: 800px;
      .stick {
        border-right: 1px solid white;
      }
      .stickStart {
        border-left: 1px solid white;
      }
      .notWritten {
        font-size: 30px;
        color: #3E3E3E;
        padding-right: 1px;
      }
      .written {
        font-size: 30px;
        color: white;
        padding-right: 1px;
      }
      .err {
        font-size: 30px;
        color: $errTextColor;
        padding-right: 1px;
      }
      .errS {
        font-size: 30px;
        background: $errTextColor;
        padding-right: 1px;
      }
    }
    .text {
      text-align: center;
      max-width: 1500px;
      font-size: 30px;
      textarea {
        width: 1500px;
        height: 450px;
        resize: none;
        background: $backgroundColor;
        border-radius: 10px;
        color: $textColor;
        text-align: justify;
        border: none;
      }
    }
    .button {
      padding-top: 40px;
      display: flex;
      justify-content: center;
      input {
        height: 28px;
        width: 100px;
        text-align: center;
        padding: 0 18px;
        border: none;
        border-bottom: 1px solid $shadowColor;
        color: $textColor;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        &:active {
          font-size: 16px;
        }
        background: $barsColor;
        &:hover {
          background: #262626;
        }
      }
    }
  }
}
